.header {
    &__wrapper {
        padding: 53px 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__list {
        display: flex;
        gap: 35px;
    }
    &__link {
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        color: black;
        &--current {
            border-bottom: 2px solid black;
            padding-bottom: 8px;
        }
    }
}
