.info {
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 80px;
        padding-bottom: 100px;
    }

    &__item {
        background: #f2f2f2;
        padding: 50px;
    }

    &__group {
        display: flex;
        align-items: center;
    }

    &__title {
        font-weight: 400;
        font-size: 36px;
        line-height: 100%;
        text-transform: uppercase;
        color: #000;
    }

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        color: #000;
        margin-top: 39px;
        padding-right: 40px;
    }
    &__link {
        font-weight: 400;
        font-size: 20px;
        text-transform: uppercase;
        text-align: center;
        color: #000;
        margin-top: 30px;
        display: inline-block;
    }

    &__logo {
        padding-right: 50px;
    }
}
