* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

body {
    color: #000000;
    font-weight: 400;
    font-family: "Oswald";
}

.container {
    max-width: 1220px;
    margin: 0 auto;
    padding: 0 20px;
}
